body {
    box-sizing: border-box;
}

.navbar {
    background: url('images/backgrounds/h_img.jpg')center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.logo {
    margin-right: 7px;
    padding-top: 29px;
    margin-right: 29px;
}

nav>h1 {
    font-size: 50px;
    font-weight: 400;
    line-height: 5.934rem;
    padding-top: 29px;
    margin-right: 29px;
}

.navbar>p {
    font-size: 15px;
    font-weight: 500;

}

.container {
    text-align: center;
    padding-top: 48px;
}

.container-fluid {
    background: url('images/backgrounds/s_image.jpg')center/cover no-repeat;
    min-height: 70vh;
    text-align: center;
    color: white;
    padding-top: 125px;
    margin-top: 50px;
}

.container-fluid>h1 {
    font-weight: 700;
}

.form-section {
    background: url('images/backgrounds/c_image.jpg')center/cover no-repeat;
    height: 60vh;
    color: #fff;
    text-align: center;

}

form>input {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);
}

.form-section {
    padding-top: 35px;
    height: 90vh;
}

::placeholder {
    color: #fff;
    font-weight: 800;
    position: absolute;
    padding: 5px;
    margin-left: 5px;
}

input:nth-child(3) {
    position: absolute;
}


span {
    margin-right: -50px;
}

.social {
    padding-top: 20px;
    text-align: center;
    margin: 10px;
}

.footer {
    text-align: center;
    padding-top: 10px;
}

.showFirstText {
    display: none;
}

.showSecondText {
    display: none;
}

.showThirdText {
    display: none;
}

#projectOne,
#projectTwo,
#projectThree,
#projectFour,
#projectFive,
#projectSix,
#projectSeven,
#projectEight {

    color: white;
    padding: 50px;
    height: 198px;
    width: 238px;
    position: absolute;
    margin-left: 8px;
    margin-top: 2px;
    display: none;
}

.submit-btn {
    background-color: rgba(255, 255, 255, 0.01);
    color: white;
    border-radius: 10px 10px 0 10px;
    padding: 5px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

/* Begin Mailchimp Signup Form */

#mc_embed_signup {
    background: #000092;
    clear: left;
    font-family: Helvetica, Arial, sans-serif;
    width: 50%;
    height: 65%;
    margin: auto;
    color: #fff;
    border-radius: 20px;
    position: absolute;
    margin-top: -400px;
    margin-left: 350px;
}

.mailchimp {
    display: none;
}





@media only screen and (min-width:769px) {
    .img {
        margin: 10px 10 10 15px;
    }
}

@media only screen and (max-width:720px) {

    #projectOne,
    #projectTwo,
    #projectThree,
    #projectFour,
    #projectFive,
    #projectSix,
    #projectSeven,
    #projectEight {
        display: flex;
        width: 85%;
        margin-left: 2%;
        margin-right: 2%;
        height: 47.55%;
        flex-wrap: wrap;
        flex-basis: 50%;
        flex-direction: column;
        display: none;

    }
    #mc_embed_signup {
        background: green;
        clear: left;
        font-family: Helvetica, Arial, sans-serif;
        right: 30%;
        margin: auto;
        color: #fff;
        height: 430px;
        border-radius: 20px;
        position: absolute;
        margin-top: -400px;
        margin-left: 350px;
    }
}