body {
    box-sizing: border-box;
}

.navbar {
    background: url('images/backgrounds/h_img.jpg')center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.logo {
    margin-right: 7px;
    padding-top: 29px;
    margin-right: 29px;
}

nav > h1 {
    font-size: 50px;
    font-weight: 400;
    line-height: 5.934rem;
    padding-top: 29px;
    margin-right: 29px;
}

.navbar > p {
    font-size: 15px;
    font-weight: 500;


}

.container {
    text-align: center;
    padding-top: 48px;
}

.container-fluid {
    background: url('images/backgrounds/s_image.jpg')center/cover no-repeat;
    min-height: 70vh;
    text-align: center;
    color: white;
    padding-top: 125px;
    margin-top: 50px;
}

.container-fluid > h1 {
    font-weight: 700;
}
.form-section {
    background: url('images/backgrounds/c_image.jpg')center/cover no-repeat;
    height: 60vh;
    color: #fff;
    text-align: center;

}
form > input {
    background-color: transparent;
    color: #fff;
}
form:nth-child(3){
    background-color: white;
}
.form-section {
    padding-top: 35px;
    height: 90vh;
}

span {
    margin-right: -50px;
}
.social {
    padding-top: 20px;
    text-align: center;
    margin: 10px;
}
.footer {
    text-align: center;
    padding-top: 10px;
}

.showFirstText {
    display: none;
}
.showSecondText {
    display: none;
}
.showThirdText {
    display: none;
}
.hoverProjectOne {
    background-color: transparent;
    color: white;
    padding: 50px; 
    width: 95%;
    height: 96.8%;
    margin-left: 10px;
    border: 10px solid white;
    height: 192px;
    width: 233px;
    margin-top: -204.77px;
    position: absolute;

}




.hover1{
    display: none;
}

span {
background-color: green;
width: 100%;
color: white;


}


@media only screen and (min-width:769px){
.img {
    margin: 10px 10 10 15px;
 } 
}
@media only screen and (max-width:720px){
    .hoverProjectOne {
        color: green;
        width: 87%;
        height: 59.9%;
        margin-top: -385px;
        padding: 120px;

    }
}